<?xml version="1.0"?>
<model>
  <name>MAP::SeochoTower</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
      <name>LG Electronics</name>
      <email></email>
  </author>

  <description>LG Seocho R&amp;D Campus Tower (B1F + 25F)</description>

  <depend>
    <model>
      <uri>model://seocho_B1_base</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://seocho_25F_base</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://seocho_EV</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
