<?xml version='1.0'?>
<database>
<name>multi-robot-simulator-cloisim-sample-resources</name>
<license>CC-BY-ND-4.0</license>
<models>
  <uri>file://CLOi_porter</uri>
  <uri>file://CLOi_porter_caster</uri>
  <uri>file://CLOi_porter_multicam</uri>
  <uri>file://CLOi_porter_wheel</uri>
  <uri>file://hokuyo_UAM05LPT301_gpu</uri>
  <uri>file://intel_D435</uri>
  <uri>file://map_lg_seocho</uri>
  <uri>file://robot_camera</uri>
  <uri>file://robot_depthcam</uri>
  <uri>file://robot_GPS</uri>
  <uri>file://robot_IMU</uri>
  <uri>file://robot_USS</uri>
  <uri>file://robot_wheel_suspension</uri>
  <uri>file://seocho_25F_base</uri>
  <uri>file://seocho_B1_base</uri>
  <uri>file://seocho_EV</uri>
  <uri>file://seocho_EV_out_doors</uri>
</models>
</database>